HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# 환경설정 파일
*.env
*.properties
*.yml
*.yaml
src/main/resources/application.yml
src/main/resources/application.properties
src/main/resources/gcs-key.json
gcs-key.json

# MyBatis XML 컴파일 결과물
*.xml~

# 업로드된 파일
uploads/

# Maven 관련 빌드 파일
target/
*.jar
*.war
*.ear

mvnw
mvnw.cmd
.gitattributes
