<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mockvoting.domain.candidate.mapper.ElectionMapper">

    <select id="findAllElections" resultType="com.example.mockvoting.domain.candidate.entity.Election">
        select * from election order by sg_id desc
    </select>

</mapper>