<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mockvoting.domain.candidate.mapper.PolicyMapper">

    <select id="findAllPolicy" resultType="com.example.mockvoting.domain.candidate.entity.Policy">
        select *
        from party_policy
        where sg_id = #{sgId}
          and party_name = #{partyName}
    </select>

</mapper>